<!DOCTYPE html>
<html>
  <head>
    <title>Air_Ctrl</title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  </head>
  <body>
    <ul>
      <li> Temp - <%= body.temp %>  </li>
      <li> Mode - <%= body.mode %>  </li>
      <li> Direct - <%= body.direct %>  </li>
      <li> Wind - <%= body.wind %>  </li>
      <li> Onoff - <%= body.onoff %>  </li>
      <li> Key - <%= body.key %></li>
    </ul>
  </body>
</html>
