<!DOCTYPE html>
<html>
  <head>
    <title>Air_Ctrl</title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  </head>
  <body>
    <button id="on"> 打开空调 </button>
    <button id="off"> 关闭空调 </button>
    <ul>
      <li> Temp - <%= temp %>  </li>
      <li> Mode - <%= mode %>  </li>
      <li> Direct - <%= direct %>  </li>
      <li> Wind - <%= wind %>  </li>
      <li> Onoff - <%= onoff %>  </li>
      <li> Key - <%= key %></li>
    </ul>
  </body>

  <script src="https://cdn.bootcss.com/jquery/2.2.2/jquery.min.js"></script>
  <script>
    

    $("#on").click(function(){
      $.post("/air", {"name": "test"}, function(data,status){
        console.log( data );
        console.log( status );
      });
    });

  </script>
</html>
